<ion-view title="Ajustes" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="ajustes-heading1" style="color:#000000;text-align:center;">Configurações</h3>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <form id="ajustes-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="ajustes-toggle2">Alertar hora de treinar?</ion-toggle>
      <label class="item item-input" id="ajustes-input6">
        <span class="input-label">Hora:</span>
        <input type="time" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>