<ion-view title="BCAA" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"> Voltar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="bCAA-markdown20" class="show-list-numbers-and-dots"></div>
    <h3 id="bCAA-heading3" style="color:#000000;font-weight:300;text-align:center;">O que é?</h3>
    <div id="bCAA-markdown23" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O BCAA (sigla em inglês para “aminoácidos de cadeia ramificada”) é um dos suplementos mais procurados do mercado fitness, assim como o whey protein, a creatina, glutamina e maltodextrina, entre outros.</p>

      <p style="color:#000000;">Ele é composto por três aminoácidos: valina, leucina e isoleucina. Juntos, eles formam cerca de 1/3 das proteínas musculares e são essenciais para quem deseja desenvolver a musculatura.</p>
    </div>
    <h3 id="bCAA-heading4" style="color:#000000;font-weight:300;text-align:center;">BCAA engorda?</h3>
    <div id="bCAA-markdown24" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Muitos ouvem falar do processo de metabolização dos aminoácidos que compõem o BCAA e passam a achar que ele engorda, mas na verdade não é o que ocorre.</p>

      <p style="color:#000000;">Por ser composto somente de aminoácidos, o BCAA serve como fonte de energia para o corpo e não te faz ganhar quilos extras, desde que ele seja tomado na quantidade correta.</p>
    </div>
  </ion-content>
</ion-view>