<ion-view title="Calcular IMC" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="calcularIMC-button-bar1" class="button-bar">
      <button id="calcularIMC-button8" class="button button-calm button-block">Homem</button>
      <button id="calcularIMC-button9" class="button button-calm button-block button-outline">Mulher</button>
    </div>
    <form id="calcularIMC-form8" class="list">
      <label class="item item-input" id="calcularIMC-input10">
        <span class="input-label">Idade</span>
        <input type="text" placeholder="Idade em anos">
      </label>
      <label class="item item-input" id="calcularIMC-input11">
        <span class="input-label">Altura</span>
        <input type="number" placeholder="Altura em cm">
      </label>
      <label class="item item-input" id="calcularIMC-input12">
        <span class="input-label">Peso</span>
        <input type="text" placeholder="Peso em Kg">
      </label>
    </form>
    <button id="calcularIMC-button11" class="button button-balanced button-block">Calcular</button>
    <div id="calcularIMC-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">Seu IMC é: 21</p>
    </div>
    <div class="spacer" style="width: 300px; height: 62px;"></div>
    <a ui-sref="tabsController.treinos()" id="calcularIMC-button12" class="button button-stable button-outline icon ion-android-arrow-back"> Voltar</a>
  </ion-content>
</ion-view>