<ion-view title="Creatina" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="creatina-markdown21" class="show-list-numbers-and-dots"></div>
    <h3 id="creatina-heading5" style="color:#000000;font-weight:300;text-align:center;">O que é creatina?</h3>
    <div id="creatina-markdown25" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">Substância composta por 3 aminoácidos: Arginina, Glicina e Metionina, originalmente sintetizada no fígado e no pâncreas, a creatina pode ser encontrada em pequenas proporções nas carnes vermelhas e nos peixes.</p>

      <p style="color:#000000;font-size:15px;">A creatina fornece mais energia, podendo ter treinos mais intensos, com maior volume e com uma recuperação entre as séries e os treinos bem mais rápida do que sem suplementar. Com isso tudo, o resultando final é o aumento de força e ganho de massa
        muscular.</p>
    </div>
  </ion-content>
</ion-view>