<ion-view title="Dicas de emagrecimento" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"> Voltar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="dicasDeEmagrecimento-markdown18" class="show-list-numbers-and-dots"></div>
    <div>
      <img src="img/SirgbToFQvjArfG0akMN_emagrecimento.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="dicasDeEmagrecimento-heading7" style="color:#000000;font-weight:300;text-align:center;">Preocupado com a balança? Veja essas dicas.</h3>
    <div id="dicasDeEmagrecimento-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3 Regras simples para esta dieta funcionar:</strong>
      </p>

      <p style="color:#000000;">
        <strong>Alimentos permitidos:</strong> carnes magras, peixes, ovos, frutos do mar, leite e derivados desnatados, sementes, castanhas, legumes, verduras e frutas.</p>

      <p style="color:#000000;">
        <strong>Alimentos proibidos:</strong> açúcar, batatas, macarrão, pão, arroz, farinhas, maionese, manteiga, óleo, azeite, banana, uva, abacate e carnes processadas como linguiça, salsicha, bacon e presunto.</p>

      <p style="color:#000000;">Começar a dieta desintoxicando melhora os resultados, por isso veja uma receita excelente de sopa detox para completar esta dieta.</p>
    </div>
  </ion-content>
</ion-view>