<ion-view title="Dicas de emagrecimento" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"> Voltar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="dicasDeEmagrecimento-markdown18" class="show-list-numbers-and-dots"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>