<ion-view title="Dicas para ganho de massa muscular" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"> Voltar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="dicasParaGanhoDeMassaMuscular-markdown10" class="show-list-numbers-and-dots"></div>
    <div>
      <img src="img/yoFNZ45xTvuclPSWSAgv_MassaMuscular.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="dicasParaGanhoDeMassaMuscular-heading8" style="color:#000000;font-weight:300;text-align:center;">As 8 melhores dicas para ganhar massa muscular de forma rápida e eficiente são:</h3>
    <div id="dicasParaGanhoDeMassaMuscular-markdown27" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">
            <strong>Fazer cada exercício de forma lenta</strong>, sentindo todo o movimento do músculo, evitando fazer compensações que tornam o exercício mais fácil.</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Não parar o exercício assim que começar a sentir dor</strong>, porque é quando o músculo começa a "queimar" as fibras brancas (de curta duração), que são as que levam à hipertrofia, são solicitadas;</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Treinar de 3 a 5 vezes por semana</strong>, sendo que o mesmo grupo muscular só deve ser exercitado 1 ou 2 vezes;</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Ingerir alimentos ricos em proteínas diariamente</strong>, em todas as refeições, mas especialmente após os exercícios.</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Começar o treino pela musculação</strong> e só depois fazer os exercícios aeróbicos porque assim há mais disposição para exigir ao máximo dos músculos isoladamente;</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Revisar toda a série a cada 4 ou 5 semanas</strong>, alterando ou acrescentando alguns exercícios para aumentar a intensidade e os desafios;</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Cada exercício deve ser realizado utilizando 65% da carga máxima que se consegue fazer com uma única repetição</strong>. Por exemplo: quando só se consegue levantar um peso de 30 kg com a extensão de coxa, deve-se treinar utilizando um peso
            de 20 kg, com aumento progressivo;</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Quando atingir o objetivo pretendido, não deixar de se exercitar</strong> para não perder a definição conquistada. Geralmente a perda de massa muscular pode ser observada em apenas 15 dias sem treino.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>