<ion-view title="Login" id="page5" style="background-color:#B9DEE6;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/W46AocJQTAOMC4T805qz_OJ93JF0-final.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input2">
        <span class="input-label">Usuário</span>
        <input type="text" placeholder="Digite o usuário">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Digite a senha">
      </label>
    </form>
    <a ui-sref="tabsController.treinos()" id="login-button1" class="button button-positive button-block">Entrar</a>
    <div id="login-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#351818;">Esqueceu a senha?
        <strong>Clique aqui!</strong>
      </p>
    </div>
  </ion-content>
</ion-view>