<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xzkF91ROSfwUgkyYE5wf_Halter01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input2">
        <span class="input-label">Login</span>
        <input type="text" placeholder="Digite o login">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Digite a senha">
      </label>
    </form>
    <a ui-sref="tabsController.treinos()" id="login-button1" class="button button-positive button-block">Entrar</a>
  </ion-content>
</ion-view>