<ion-view title="Perfil" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="perfil-form6" class="list">
      <h4 id="perfil-heading6" style="color:#000000;font-weight:300;text-align:center;">Alterar dados cadastrais</h4>
      <ion-list id="perfil-list4">
        <label class="item item-input" id="perfil-input7">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Digite o nome">
        </label>
        <label class="item item-input" id="perfil-input8">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Digite o email">
        </label>
        <label class="item item-input" id="perfil-input9">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Digite a senha">
        </label>
      </ion-list>
      <a ui-sref="tabsController.treinos()" id="perfil-button2" class="button button-positive button-block">Salvar</a>
      <a ui-sref="tabsController.treinos()" id="perfil-button3" class="button button-assertive button-block">Cancelar</a>
    </form>
  </ion-content>
</ion-view>