<ion-view title="Termogênicos" id="page12">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"> Voltar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="termogNicos-markdown19" class="show-list-numbers-and-dots"></div>
    <h3 id="termogNicos-heading2" style="color:#000000;font-weight:300;text-align:center;">O que são e como funcionam?</h3>
    <div id="termogNicos-markdown22" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Os termogênicos funcionam de maneira simples no organismo: transformam as calorias, da gordura corporal e da alimentação, em energia. E é essa energia que é gasta durante o dia e no treino. Por isso os termogênicos também são chamados de “queimadores
        de gorudra”.</p>

      <p style="color:#000000;">Por acelerar o metabolismo, os queimadores de gordura consomem energia de maneira muito mais rápida e eficiente. Isso acontece porque eles fazem com que o seu corpo alcance a termogênese, que é o processo de aumento da temperatura corporal. Com
        esse aumento, o seu organismo precisa queimar mais energia para funcionar adequadamente.</p>
    </div>
  </ion-content>
</ion-view>