<ion-view title="Treinos" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="treinos-card24">
      <ion-item id="treinos-list-item13" ui-sref="tabsController.treinoLeve()">Treino Leve</ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="tabsController.treinoLeve()">
          <img src="img/Aw8kyocwTmnzhJkIxeW8_treinoLeve.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="treinos-list-item-container7">
        <div id="treinos-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Treino destinado a
            <strong>Iniciantes</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="treinos-card25">
      <ion-item id="treinos-list-item15" ui-sref="tabsController.treinoModerado()">Treino Moderado</ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="tabsController.treinoModerado()">
          <img src="img/JMShQE8iRPOXQ0COy6iI_treinoModerado.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="treinos-list-item-container8">
        <div id="treinos-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Treino para manter a forma</p>
        </div>
      </div>
    </div>
    <div class="list card" id="treinos-card26">
      <ion-item id="treinos-list-item16" ui-sref="tabsController.treinoPesado()">Treino Pesado</ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="tabsController.treinoPesado()">
          <img src="img/m2FgIZ9TtW87E3YsY547_treinoPesado.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="treinos-list-item-container9">
        <div id="treinos-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Treino para ganhar massa muscular</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>