<ion-view title="Treinos" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="treinos-card24">
      <ion-item id="treinos-list-item13">Treino Leve</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="treinos-list-item-container7">
        <div id="treinos-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Treino destinado a
            <strong>Iniciantes</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="treinos-card25">
      <ion-item id="treinos-list-item15">Treino Moderado</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="treinos-list-item-container8">
        <div id="treinos-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Treino para manter a forma</p>
        </div>
      </div>
    </div>
    <div class="list card" id="treinos-card26">
      <ion-item id="treinos-list-item16" ui-sref="tabsController.treinoPesado()">Treino Pesado</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="treinos-list-item-container9">
        <div id="treinos-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Treino para ganhar massa muscular</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>