<ion-view title="Treino pesado" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"> Voltar</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/FStrm3W2lh8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="treinoPesado-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="treinoPesado-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Treino para hipertrofia avançado</strong>
      </p>
    </div>
    <div id="treinoPesado-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este é um exemplo de treino para atletas de musculação (fisiculturistas) de nível bastante avançado e que contam já com um número considerável de anos de treino.</p>

      <p style="color:#000000;">Pressupõe-se também que o atleta já tem uma boa capacidade de recuperação física e que tolera bem um elevado volume de treino, ou seja é capaz de realizar um elevado número de exercícios e de séries sem entrar em excesso de treino.</p>
    </div>
  </ion-content>
</ion-view>